streamlit
pytesseract
spacy
https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.7.0/ja_core_news_sm-3.7.0-py3-none-any.whl
opencv-python-headless
Pillow
numpy
numpy<2.0.0
